* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}
#plateau {
    width: 90%;
    height: 40vh;
    background-color: #d7a27b;
    border: 1px solid black;
    display: flex;
    margin: auto;
}

h1 {
    text-align: center;
    justify-self: center;

}

#img {
    width: 15rem;
    border: 1px solid gold;
    margin: 5px;
}

#zoneDuMot {
    width: 80%;
    height: 35vh;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 0 0 20px 2px gold;
    border-radius: 10px;
}

#guessWord {
    width: 40%;
    height: 30px;
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 2px 2px;
    text-align: center;
    margin: 20px auto auto;
    font-size: medium;
}

input {
    margin-left: 35%;
    margin-top: 5px;
    text-align: center;
}

#proposition {
    width: 60%;
    min-height: 10vh;
    border: 1px dashed #a52a2a;
    border-radius: 5px;
    margin-left: 30px;
    background-color: #d6b2a2;
    margin-top: -21px;
}

a {
    margin-left: 80%;
    color: darkmagenta;
    text-decoration: none;
    border: 1px solid #985798;
    border-radius: 5px;
    padding: 1px 1px;
}

#message {
    width: 20%;
    height: 5vh;
    top: 28px;
    margin-left: 75%;
    position: relative;
    font-size: medium;
}

#essai {
    width: 20%;
    height: 5vh;
    color: black;
    top: 28px;
    position: relative;
    font-size: 15px;
    margin-top: -3px;
    margin-left: 75%;
}


